<!doctype html>
<html>
  <head>
    <link rel="icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>WVM Development<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "styles", "nav", "aside", "articles" %>
  </head>
  <body>

    <%= partial :navbar %>

    <div id="main" rule="main">
      <%= yield %>
    </div>

    <aside>
      <h2 class="title">Recent Articles</h2>
      <ul>
        <% blog.articles[0...10].each do |article| %>
          <li><%= link_to article.title, article %></span></li>
        <% end %>
      </ul>

      <h2 class="title">Tags</h2>
      <ul>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ul>

      <h2 class="title">By Year</h2>
      <ul>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
        <% end %>
      </ul>
    </aside>

  </body>
</html>
